/*MAIN*/
* {
    display: auto;
    margin: auto;
    justify-content: auto;
    text-align: justify;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  }
/*NAV BAR*/

body {
  background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(95,95,95,1) 50%, rgba(25,25,25,1) 100%);
}

/* SEARCH BAR*/

#searchbar {
  display: flex;
  margin: 20px;
  letter-spacing: 2px;
  border-width: 2px;
  border-radius: 50px;
  text-align: center;
  font-family: Tahoma;
  font-size: 75%;
  justify-content: center;
}

/*AboutAudioSlave*/
.aboutAudioSlave {
  
  text-align: center;
  font-family: Tahoma;
  margin: 5%;
}
  
.footerLinksAudioSlave {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px;
  align-items: center;
  text-align: center;
}

/*SONG BOX*/

.PlayLink {
height: 240px;
width: 250px;
}

.PlayLink:hover a {
opacity: 1;
color: yellow;
}

.album {
margin: auto;
padding: 10px;
text-align: center;
background-color: #353e4b;
opacity: .3;
}
